<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="with=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" type="text/css" href="/static/styles/day.css" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <title>12-Days-of-Christmas-with-us</title>
    </head>

    <body>
        <section class="header">
            <nav>
                <!-- TODO Daniel -->
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                </a>

                <ul>
                    <li><a class="sign_up" href="/signup">SIGN UP</a></li>
                    <li><a class="log_in" href="/login">LOG IN</a></li>
                </ul>
            </nav>
        </section>
        <div class="grid-container">
            <div class="day-header">
                <h1>DAY 1</h1>
            </div>

            <a
                class="card movie"
                href="https://duckduckgo.com/?t=ffab"
                target="_blank"
            >
                <!-- TODO Daniel -->
                <div class="card-img-container">
                    <img
                        src="/static/movies/1-santa-claus-the-movie.jpg"
                        alt="Santa Claus: The Movie poster"
                        class="card-img movie"
                    />
                </div>

                <div class="card-content-container">
                    <h2>Santa Claus: The Movie</h2>
                    <p>
                        The legend of Santa Claus is put in jeopardy when an
                        unscrupulous toy manufacturer attempts to take over
                        Christmas.
                    </p>
                </div>
            </a>

            <a
                class="card recipe"
                href="https://duckduckgo.com/?t=ffab"
                target="_blank"
            >
                <!-- TODO Daniel -->
                <div class="card-img-container">
                    <img
                        src="/static/recipes/1-soft-christmas-cookies.jpg"
                        alt="Santa Claus: The Movie poster"
                        class="card-img recipe"
                    />
                </div>

                <div class="card-content-container">
                    <h2>Recipe</h2>
                </div>
            </a>

            <div class="card song">
                <div class="card-content-container">
                    <div class="song-img-container">
                        <div class="song-white-dot"></div>
                        <img
                            src="/static/song-img/1-placeholder.jpg"
                            alt="Santa Claus: The Movie poster"
                            class="song-img"
                        />
                    </div>
                    <h2>Song Title</h2>
                    <h4>Artist</h4>
                    <div class="controls-container">
                        <audio controls autoplay>
                            <source src="/static/song-mp3/1-song.mp3" type="audio/mpeg">
                        </audio>
                    </div>

                    <!-- 
                        <div class="play-pause">
                            <i class="fa fa-play"></i>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="card notes">
                <div class="card-content-container">
                    <h2>Notes</h2>
                    <form class="notes-container">
                        <textarea placeholder="Enter your notes here..."></textarea>
                        <button class="save-btn" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
