<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap"
        rel="stylesheet"
        />
        <link rel= "stylesheet" type= "text/css" href= "/static/styles/day.css">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>12-Days-of-Christmas-with-us</title>
    </head>
    <body>
        <div class="card">
            <h1>DAY 1</h1>
            <div class="card">
                <img src="/src/movies/1-santa-claus-the-movie.jpg" alt="Santa Claus: The Movie poster">
                <div class="card-containter">
                    <h2>Santa Claus: The Movie</h2>
                </div>
            </div>
        </div>
    </body>
</html>