<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap"
        rel="stylesheet"
        />
        <link rel= "stylesheet" type= "text/css" href= "/static/styles/day.css">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>12-Days-of-Christmas-with-us</title>

    </head>

    <section class="header">
        <nav>
            <!-- TODO Daniel -->
            <a href="/">
            <img src="{{ url_for('static', filename='santa/Home.png') }}" />
            </a>

            <ul>
            <li><a class="sign_up" href="/signup">SIGN UP</a></li>
            <li><a class="log_in" href="/login">LOG IN</a></li>
            </ul>
        </nav>
    </section>
    <body>
        <div class="grid-container">
            <div class="day-header">
                <h1>DAY 1</h1>
            </div>
            
        
            <a class="card movie" href="https://duckduckgo.com/?t=ffab" target="_blank">
                <!-- TODO Daniel -->
                <div class="card-img-container">
                    <img 
                        src="/static/movies/1-santa-claus-the-movie.jpg" 
                        alt="Santa Claus: The Movie poster"
                        class="card-img movie"
                    >
                </div>

                <div class="card-content-container">
                    <h2>Santa Claus: The Movie</h2>
                    <p>
                        The legend of Santa Claus is put in jeopardy when an 
                        unscrupulous toy manufacturer attempts to take over 
                        Christmas.
                    </p>
                </div>

            </a>


            <a class="card recipe" href="https://duckduckgo.com/?t=ffab" target="_blank">
                <!-- TODO Daniel -->
                <div class="card-img-container">
                    <img 
                        src="/static/recipes/1-soft-christmas-cookies.jpg" 
                        alt="Santa Claus: The Movie poster"
                        class="card-img recipe"
                    >
                </div>

                <div class="card-content-container">
                    <h2>Recipe</h2>
                </div>

            </a>

            <div class="card song">
                
                    <div class="card-content-container">
                        <h2>Song</h2>
                    </div>
                
            </div>

            <div class="card notes">
                <div class="card-content-container">
                    <h2>Notes</h2>
                </div>
            </div>
        </div>
    </body>
</html>