<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "/static/styles/index.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>12-Days-of-Christmas-with-us</title>
</head>

<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="/src/Home.png"></a>
        
            <ul>
                <li><a class="active" href="">SIGN UP</a></li>
                <li><a class="active" href="">LOG IN</a></li>
            </ul>
 
        </nav>

    </section>
    
</body>
</html>