<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="with=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/styles/index.css" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>12-Days-of-Christmas-with-us</title>
  </head>

  <body>
    <section class="header">
      <nav>
        <a href="index.html"
          ><img src="{{ url_for('static', filename='Home.png') }}"
        /></a>

        <ul>
          <li><a class="sign_up" href="">SIGN UP</a></li>
          <li><a class="log_in" href="">LOG IN</a></li>
        </ul>
      </nav>
    </section>

    <div class="horizontal-line"></div>

    <div class="text_box">
      <h1>12 DAYS OF CHRISTMAS</h1>
    </div>
  </body>
</html>
