:root,
* {
  margin: 0;
  padding: 0;
}

.header {
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
}

/* NAVBAR */
nav {
  display: flex;
  padding: 1rem 0;
  height: 10%;
  width: 80%;
  margin: 0 10%;

  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #f5f2e9;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}

/* SIGN UP and LOGIN buttons */
nav ul li a {
  /* color: #000000; */
  text-transform: uppercase;
  padding: 0.4rem;
  border: 3px solid #f5f2e9;
  text-decoration: none;
}

.sign_up {
  font-family: IBM Plex Sans;
  font-size: 1rem;
  color: #f5f2e9;
}

.log_in {
  background: #f5f2e9;
  font-family: IBM Plex Sans;
  font-size: 1rem;
  color: #cf475a;
}

body {
  display: flex;
  background: linear-gradient(180deg, #cb3236 0%, #8f292b 79.69%) fixed;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

h1 {
  font-size: 5rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

.day-header {
  color: #f5f2e9;
  grid-area: header;
}

.grid-container {
  margin: 0 10%;
  margin-top: 70px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas:
    "header header header"
    "movie recipe notes"
    "movie song notes";
}

.card {
  background: #f5f2e9;
  border-radius: 0.5rem;
  transition: transform 0.1s ease-out 0s;
  padding: 1rem;
}

.card-content-container {
  padding: 1rem;
}

.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img.movie {
  height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.card-img.recipe {
  height: 25vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.card.movie {
  grid-area: movie;
}

.card.recipe {
  grid-area: recipe;
}

.card.song {
  grid-area: song;
}

.notes {
  grid-area: notes;
}

.card:hover {
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.25);
  transform: translate(-0.1rem, -0.1rem);
  cursor: pointer;
}

.card.notes:hover {
  box-shadow: none;
  transform: none;
  cursor: text;
}

.card.song:hover {
  box-shadow: none;
  transform: none;
  cursor: auto;
}
