* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-color: #e3c45a;
}
nav {
  display: flex;
  padding: 20px;
  height: 80px;

  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 100px;
}
nav ul {
  float: right;
  margin-right: 20px;
  list-style: none;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
  position: relative;
}
nav ul li a {
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3;
}
a.active,
a:hover {
  background: #000;
}
