* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.header {
  min-height: 0px;
  width: 100%;
}

/* NAVBAR */
nav {
  display: flex;
  padding: 1rem 0;
  height: 10%;
  width: 80%;
  margin: 0 10%;

  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #cf475a;
}
  nav ul {
    list-style: none;
  }
  nav ul li {
    display: inline-block;
  }

  /* SIGN UP and LOGIN buttons */
  nav ul li a {
    text-transform: uppercase;
    padding: 0.4rem;
    border: 3px solid #cf475a;
    text-decoration: none;
  }
  .sign_up {
    font-family: IBM Plex Sans;
    font-size: 1rem;
    color: #cf475a;
  }
  .log_in {
    background: #cf475a;
    font-family: IBM Plex Sans;
    font-size: 1rem;
    color: #f5f2e9;
  }

/* 12 DAYS OF CHRISTMAS */
.text_box {
  top: 10%;
  text-align: center;

  font-family: Ubuntu;
  font-style: normal;
  font-size: 50px;
  line-height: 165px;
  display: block;

  color: #2b5341;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.grid-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  margin: 0 auto;
  grid-gap: 1rem;

  align-items: center;
  justify-content: center;
}
.grid-item {
  height: 7rem;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
}

.grid-item.yellow {
  background-color: #e3c45a;
}
.grid-item.red {
  background-color: #cf475a;
}
.grid-item.green {
  background-color: #3b8161;
}
